ETHERSCAN_API_KEY=000000000
GOERLI_URL=https://eth-goerli.g.alchemy.com/v2/kvxyT5BcgPZmx90NEoW1JHTw-y6_yN7T
PRIVATE_KEY=0x00000000000
#ALCHEMY_API_KEY=000000000
INFURA_API_KEY=000000000
INFURA_API_SECRET=0000000000
INFURA_PROJECT_ID='000000000'
PROVIDER_NETWORK='goerli'
VRF_SUBSCRIPTION_ID=000