@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background: #1C142B;
  backdrop-filter: blur(232px);
}

.color-1 {
  color: #B5289E;
}

.font-1 {
  font-family: 'orbitron';
  font-style: normal;
  line-height: 137.4%;
  /* or 82px */
}

.font-size-headline {
  font-size: 60px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.pool-details p {
  line-height: 2.5rem;
}

.tier-btn {
  background: #3E0C55;
  border-radius: 2px;
  width: 140px;
}
.tier-btn:hover {
  box-shadow: 0px 4px 20px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(192px);
}

.backdrop-1 {
  box-shadow: 0px 4px 50px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(192px);
}

.backdrop-1-sm {
  box-shadow: 0px 2px 20px rgba(255, 86, 246, 0.51);
  backdrop-filter: blur(192px);
}

.background-opaque {
  background:rgba(255, 86, 246, 0.4)
}
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * orbitron:
 *   - http://typekit.com/eulas/00000000000000000001492e
 *   - http://typekit.com/eulas/00000000000000000001492f
 *   - http://typekit.com/eulas/00000000000000000001492c
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-08-31 19:15:36 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=tyo4uft&ht=tk&f=5470.5471.5472&a=77308063&app=typekit&e=css");

@font-face {
  font-family:"orbitron";
  src:url("https://use.typekit.net/af/715d77/00000000000000000001492e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/715d77/00000000000000000001492e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/715d77/00000000000000000001492e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
  font-family:"orbitron";
  src:url("https://use.typekit.net/af/39bb32/00000000000000000001492f/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/39bb32/00000000000000000001492f/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/39bb32/00000000000000000001492f/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:300;font-stretch:normal;
}

@font-face {
  font-family:"orbitron";
  src:url("https://use.typekit.net/af/096aa9/00000000000000000001492c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/096aa9/00000000000000000001492c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/096aa9/00000000000000000001492c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-orbitron { font-family: "orbitron",sans-serif; }